.film_info {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-column-gap: 20px;
}

.film_title {
  font-weight: 600;
  font-size: 16px;
}

.poster {
  max-height: 390px;
  margin-bottom: 10px;
}

.film_date {
  border: 1px solid gray;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
}

.film_genre {
  margin-right: 5px;
  font-weight: 300;
  font-size: 12px;
  color: grey;
}