button {
  border-width: 0px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 7px 10px;
  line-height: 1.5;
  border-radius: 3px;
}

.wide {
  width: 100%;
}

.search_btn {
  background-color: burlywood;
  border-radius: 3px;
  padding: 9px 13px;
  border-width: 0px;
}

.submit_btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.submit_btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.clear_btn {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.clear_btn:hover {
  background-color: #e0a800;
  border-color: #d39e00;
}

.delete_btn {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.delete_btn:hover {
  background-color: #c82333;
  border-color: #bd2130;
}