.search_input {
  padding: 8px 13px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #D3D3D3;
}

.add_film {
  padding: 15px;
  line-height: 1.15;
  border-radius: 3px;
  border: 1px solid gray;
  width: 50%;
}