.film_form {
  display: flex;
  flex-direction: column;
  width: 850px;
  margin-bottom: 100px;
}

.film_form .input_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.input_wrapper>label {
  flex: 0 0 120px;
}

.form_btns {
  display: flex;
  justify-content: space-between;
}

.error {
  color: brown;
  margin-left: 25px;
}

.checkbox_block {
  margin-bottom: 30px;
}

.checkbox_block label {
  margin-right: 15px;
}