.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  margin-bottom: 30px;
}

header a {
  color: whitesmoke;
}

header a:hover {
  font-weight: bold;
}

header a:visited {
  color: whitesmoke;
}

.nav-item {
  padding: 5px 15px;
  margin-right: 5px;
  background-color: antiquewhite;
  border-radius: 5px;
  text-decoration: none;
}

.nav_links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.auth_link {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.user_info {
  display: grid;
  justify-self: right;
  color: burlywood;
  margin-right: 10px;
  cursor: default;
}

.log_in {
  text-align: right;
}