.login_form {
  width: 220px
}

.input_wrapper {
  margin-bottom: 10px;
}

.input_wrapper input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

.error {
  color: brown;
}