html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header, footer {
  background-color: black;
  height: 40px;
  line-height:40px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
} 

.container {
  display: grid;
  width: 80%;
}

.wrapper {
  display: grid;
  grid-template-areas:  "header"
                        "content"
                        "footer";
  grid-row-start:    header-start;
  grid-row-end:      content-start;
  grid-column-start: footer-start;
}

.mb_10 {
  margin-bottom: 10px;
}

.mb_20 {
  margin-bottom: 20px;
}

.mt_20 {
  margin-top: 20px;
}

.text_bold {
  font-weight: bold;
}

.content {
  display: grid;
  justify-items: center;
}

header, footer {
  padding: 0 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.app_logo {
  text-decoration: none;
  color: white;
}

.app_logo:hover {
  color: crimson
}

.search_results {
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: repeat(3, 300px);
  margin-bottom: 30px;
}

.film_card {
  display: grid;
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.film_card:hover {
  -webkit-box-shadow: 0px 6px 26px 0px rgba(150,148,150,1);
  -moz-box-shadow: 0px 6px 26px 0px rgba(150,148,150,1);
  box-shadow: 0px 6px 26px 0px rgba(150,148,150,1);
}

.film-card a {
  text-decoration: none;
}

.film-card:hover {
  -webkit-box-shadow: 4px 14px 21px 13px rgba(217,217,217,0.77);
  -moz-box-shadow: 4px 14px 21px 13px rgba(217,217,217,0.77);
  box-shadow: 4px 14px 21px 13px rgba(217,217,217,0.77);
  cursor: pointer;
}

.search-toggle-form {
  display: inline;
}
